ol li {
    background-color: yellow;
}

ol li:nth-child(even) {
    color: green;
}

ol li:nth-child(odd) {
    text-transform: uppercase;
}

h1,h2,h3 {
    color: red;
}

h1,h2,h3 em {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

ul.list li:nth-child(-n+3) {
    color: blue;
}

.corRosa {
    background-color: pink;
}

a:hover {
    font-weight: bold;
    
}