body {
    font-size: 16px;
}

h1 {
  font-size: 65px;
  color: orange;
  font-family: sans-serif;
}

ul {
    background-color: aqua;
}

p {
    font-weight: 600;
    font-size: 3em;
}

.cordefundo {
    background-color: rgb(231, 139, 0);
    text-align: center;
    text-decoration:underline;
    line-height: 50px;
}

#amarelo {
    color: yellow;
    font-size: 2em;
    text-decoration: none;
}

#vermelho {
    color: red;
    font-size: 2em;
    text-decoration: none;
}

#marrom {
    color:brown ;
    font-size: 2em;
    text-decoration: none;
}