h1 {
    text-align: center;
  }

.first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
 }

.second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
  }

.third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
  }

  .container {
      display: flex;
      justify-content: center;
  }

  ul.rank  li{
      display: inline-block;
  }

  .rank-1 {
      margin-left: 200px;
  }

  .container-content {
      text-align: center;
  }

  section ul li {
    list-style-type:none;
  }

  